@model IEnumerable<CrimeMgmnt.Models.User>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="margin-bottom: 0px; background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2BC6rrk6dehLe1lk1R3SS0aCVcOl7CDhvXA&usqp=CAU')">
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            <img src="~/Images/Cmain3.png" alt="Logo" style="width:50px;">
        </a>
        <div class="container-fluid">
            <a class="navbar-brand" href="./">E-Cyber Cell</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- NAVBAR LINKS -->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">User</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           asp-area="Authority" asp-controller="users" asp-action="Create">Report</a>
                        <a class="dropdown-item" href="https://localhost:44315/Authority/CyberCells">Report Status</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Authority</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           asp-area="Authority" asp-controller="CyberCells" asp-action="Index">CyberCell</a>
                        <a class="dropdown-item" href="https://localhost:44315/Authority/users">All Records</a>
                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = ('0') + day.toString();
            var maxDate = year + '-' + month + '-' + day;

            $('#datecontrol').attr('min', maxDate);
        })
    </script>

</body>
</html>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrimePlatform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrimeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrimePlatform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrimeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                    <a href="https://localhost:44315/Authority/CyberCells/Create" class="btn btn-primary">Reply </a>
                @*<a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
